<div class="container-fluid">
  <div class="row">

  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <h3>Calendario de <strong>Ponencias</strong> </h3>
    <p>No te lo pierdas y asegurate de asistir</p>
  </div>
</div>



<div class="container-fluid">
  <div class="row">

  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <h3>Nuestros <strong>Esponsor</strong></h3>
    <p>Los que hacen esto posible</p>
    <h4><strong>Organizan</strong></h4>
    <p><strong>Koritos-SLI</strong> </p>
  </div>
</div>